<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sweety Bear</title>
    <th:block th:replace="/base/base_dependencies :: base_dependencies"/>
    <script>
        function deleteConfig() {
            return confirm("Are you sure you want to ban the user?");
        }
    </script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="mt-3 ml-5 d-flex" style="font-size:18px">
    Admin panel
    <form class="d-flex ml-4" role="search" action="/admin" method="get">
        <input class="form-control me-2" name="email" type="search" placeholder="admin@example"
               aria-label="Search">
        <button class="btn btn-light ml-1" type="submit">Search</button>
    </form>
</div>
<div th:if="${email}" class="mt-3 ml-5">
    <div th:if="${#arrays.isEmpty(users)}">No users with email '<span th:utext="${email}">email</span>'</div>
</div>
<table th:unless="${#arrays.isEmpty(users)}" class="table table-hover mt-4 mb-5 ml-5" style="width: 95%;">
    <tr>
        <th scope="col" class="ml-3">Id</th>
        <th scope="col" class="col-sm-4">Email</th>
        <th scope="col">Activity</th>
        <th scope="col">Role</th>
        <th scope="col">Ban</th>
        <th scope="col">Editing</th>
        <th scope="col">View information</th>
    </tr>
    <div th:each="user : ${users}">
        <tr>
            <th scope="row" class="ml-3" th:utext="${user.id}">Id</th>
            <th scope="row" th:utext="${user.email}">Email</th>
            <th scope="row">
                <div th:if="${user.active}">
                    true
                </div>
                <div th:unless="${user.active}">
                    false
                </div>
            </th>
            <th scope="row">
                <div th:each="role : ${user.roles}">
                    <div th:utext="${role}">,</div>
                </div>
            </th>
            <th scope="row">
                <form th:action="@{/admin/user/ban/{id}(id=${user.id})}" th:unless="${user.isOwner()}" method="post">
                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                    <button onclick="return deleteConfig()" type="submit" th:value="Bun"
                            class="btn btn-outline-secondary">Ban
                    </button>
                </form>
            </th>
            <th scope="row"><a th:unless="${user.isOwner()}"
                               th:href="@{/admin/user/edit/{id}(id=${user.id})}">Editing</a></th>
            <th scope="row"><a th:href="@{/user/{id}(id=${user.id})}">View information</a></th>
        </tr>
    </div>
</table>
</body>
</html>