<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sweety Bear</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="mt-3 ml-5" style="font-size:18px">
    Admin panel
</div>

<table class="table table-hover mt-3 ml-5 mb-5 mr-5">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Activity</th>
        <th scope="col">Role</th>
        <th scope="col">Bun</th>
        <th scope="col">Editing</th>
        <th scope="col">View information</th>
    </tr>
    <div th:each="user : ${users}">
        <tr>
            <th scope="row" th:utext="${user.id}">Id</th>
            <th scope="row" th:utext="${user.email}">Email</th>
            <th scope="row">
                <div th:if="${user.active}">
                    true
                </div>
                <div th:unless="${user.active}">
                    false
                </div>
            </th>
            <th scope="row">
                <div th:each="role : ${user.roles}">
                    <div th:utext="${role}">,</div>
                </div>
            </th>
            <th scope="row">
                <form th:action="@{/admin/user/ban/{id}(id=${user.id})}" method="post">
                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                    <button type="submit" th:value="Bun" class="btn btn-outline-secondary">Bun</button>
                </form>
            </th>
            <th scope="row"><a th:href="@{/admin/user/edit/{id}(id=${user.id})}">Editing</a></th>
            <th scope="row"><a th:href="@{/user/{id}(id=${user.id})}">View information</a></th>
        </tr>

        <div class="mt-3 ml-5" th:unless="${user.email}">
            There are no users
        </div>
    </div>
</table>

</body>
</html>