<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sweety Bear</title>
    <th:block th:replace="/base/base_dependencies :: base_dependencies"/>
    <script type="text/javascript">
        function showAddressInput(box) {
            document.getElementById('addressInput').style.display = (box.checked) ? "block" : "none";
        }
    </script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="mt-3 ml-5" style="font-size:18px">
    Bucket
</div>
<div th:if="${param.success}" class="mb-3 ml-5 mt-3" style="width:60%">
    <div class="alert alert-success">
        <span>You have successfully placed an order. Please pay for your order
            <a th:href="@{/orders/user/{id}(id=${user.getId()})}" class="alert-link">in your orders.</a></span>
    </div>
</div>
<div th:unless="${bucket.isBucketEmpty()}">
    <div class="mt-3 ml-5" style="font-size:16px">
        Final cost
        <div th:utext="${bucket.sum}">sum</div>
    </div>
    <table class="table table-hover mt-3 ml-5 mb-5 mr-5" style="width: 95%;">
        <tr>
            <th scope="col" class="col-sm-3">Title</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col">Sum</th>
            <th scope="col">Remove</th>
        </tr>
        <tr th:each="detail : ${bucket.bucketDetails}">
            <th scope="col">
                <a th:href="@{/product/{id}(id=${detail.productId})}">
                    <p th:utext="${detail.title}">Title</p>
                </a>
            </th>
            <th scope="col" th:utext="${detail.amount}">Amount</th>
            <th scope="col" th:utext="${detail.price}">Price</th>
            <th scope="col" th:utext="${detail.sum}">Sum</th>
            <th scope="col">
                <form th:action="@{/bucket/delete/{id}(id=${detail.productId})}" method="post">
                    <button type="submit" class="btn btn-outline-secondary">Delete</button>
                </form>
            </th>
        </tr>
    </table>
</div>
<div class="mt-3 ml-5" th:if="${bucket.isBucketEmpty()}">
    Your shopping cart is empty, make purchases in our <a href="/">catalog</a>
</div>
<form th:unless="${bucket.isBucketEmpty()}" class="mt-1 ml-4" th:action="@{/bucket}" th:object="${address}"
      method="POST">
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <div class="form-check form-switch ml-4">
        <input class="form-check-input col-md-3" type="checkbox"
               role="switch" id="flexSwitchCheckChecked"
               onclick="showAddressInput(this)"
               checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Pickup | Delivery</label>
    </div>
    <div style="width: 80%" id="addressInput" class="row g-3 ml-2 mt-2">
        <div class="input-group">
            <div class="col-md-6">
                <label for="Street" class="form-label">Street</label>
                <input th:field="*{street}" id="Street" type="text" class="form-control" aria-label="Address">
            </div>
            <div class="col-md-6">
                <label for="Street" class="form-label">House</label>
                <input th:field="*{houseNumber}" type="number" class="form-control" aria-label="Address">
            </div>
        </div>
        <div class="input-group">
            <div class="col-md-4">
                <label for="Street" class="form-label">Apartment</label>
                <input th:field="*{apartmentNumber}" type="number" class="form-control" aria-label="Address">
            </div>
            <div class="col-md-4">
                <label for="Street" class="form-label">Case</label>
                <input th:field="*{caseNumber}" type="number" class="form-control" aria-label="Address">
            </div>
            <div class="col-md-4">
                <label for="Street" class="form-label">Post code</label>
                <input th:field="*{postCode}" type="number" class="form-control" aria-label="Address">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-secondary ml-4 mt-4 mb-4">Go to payment</button>
</form>
</body>
</html>