<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authorization</title>
  <th:block th:replace="/base/base_dependencies :: base_dependencies"/>
</head>
<body>
<div class="mt-4 ml-5" style="font-size:20px">
  Forgot password
</div>
<div class="mt-4 ml-5" style="font-size:16px">
  Please enter your account email. We will send you a link to recover your password.
</div>
<form th:action="@{/forgot_password}" method="POST">
  <div style="width: 60%">
    <div th:if="${reportSuccess}" class="mb-3 ml-5 mt-4">
      <div class="alert alert-success"
           th:text="${reportSuccess}">reportSuccess
      </div>
    </div>
    <div th:if="${reportError}" class="mb-3 ml-5 mt-4">
      <div class="alert alert-danger"
           th:text="${reportError}">reportError
      </div>
    </div>
    <div class="mb-3 ml-5 mt-4">
      <label for="exampleInputEmail1" class="form-label" th:text="#{login.email}">Email address</label>
      <input autofocus type="email" name="email" class="form-control" id="exampleInputEmail1"
             aria-describedby="emailHelp" >
    </div>
    <input type="hidden" name="_csrf" value="${_csrf.token}"><br>
    <button type="submit" class="btn btn-primary ml-5 mt-1">Continue</button>
  </div>
</form>
</body>
</html>