<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sweety Bear</title>
    <th:block th:replace="/base/base_dependencies :: base_dependencies"/>
</head>
<body>
<form th:action="@{/forgot_password}" method="POST"
      style="width: 60%; display: block; margin-left: auto; margin-right: auto; margin-top: 5%">
    <div class="mt-4 text-center" style="font-size:26px">
        Forgot password
    </div>
    <div class="mt-4" style="font-size:18px">
        Please enter your account email <i class="fa-solid fa-envelope"></i>. We will send you a link to recover your
        password.
    </div>
    <div th:if="${reportSuccess}" class="mb-3 mt-4">
        <div class="alert alert-success"
             th:text="${reportSuccess}">reportSuccess
        </div>
    </div>
    <div th:if="${reportError}" class="mb-3 mt-4">
        <div class="alert alert-danger">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span th:text="${reportError}">error</span>
            <span><a href="/" class="alert-link">Back to catalog</a></span>
        </div>
    </div>
    <div class="mb-3 mt-4">
        <label for="exampleInputEmail1" class="form-label" th:text="#{login.email}">Email address</label>
        <input autofocus type="email" name="email" class="form-control" id="exampleInputEmail1"
               aria-describedby="emailHelp">
    </div>
    <input type="hidden" name="_csrf" value="${_csrf.token}"><br>
    <button type="submit" class="btn btn-primary btn-block mb-4">Continue</button>
</form>
</body>
</html>