<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <th:block th:replace="/base/base_dependencies :: base_dependencies"/>
</head>
<body>
<form th:action="@{/login}" method="POST"
      style="width: 60%; display: block; margin-left: auto; margin-right: auto; margin-top: 5%">
    <div class="mt-4 text-center" style="font-size:26px" th:text="#{login.title}">
        Authorization
    </div>
    <div th:if="${messageSuccess}" class="mb-3 mt-4">
        <div class="alert alert-success"
             th:text="${messageSuccess}">messageSuccess
        </div>
    </div>
    <div th:if="${messageError}" class="mb-3 mt-4">
        <div class="alert alert-danger">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span th:text="${messageError}">error</span>
        </div>
    </div>
    <div th:if="${param.logout}" class="mb-3 mt-4">
        <div class="alert alert-success">
            <i class="fa-solid fa-check"></i>
            <span th:text="#{login.logout}">You have been logged out.</span>
        </div>
    </div>
    <div th:if="${param.oauth2_login}" class="mb-3 mt-4">
        <div class="alert alert-success">
            <span><i class="fa-solid fa-envelope-dot"></i> We have sent your password to the address you specified.</span>
        </div>
    </div>

    <div class="mb-3 mt-4">
        <label for="exampleInputEmail1" class="form-label" th:text="#{login.email}">Email address</label>
        <input autofocus type="email" name="username" class="form-control" id="exampleInputEmail1"
               aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text" th:text="#{login.email.description}">We'll never share your email with
            anyone else.
        </div>
    </div>

    <div class="mb-3 mt-2">
        <label for="exampleInputPassword1" class="form-label" th:text="#{login.password}">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="row mb-2">
        <div class="col text-center">
            <a href="/forgot_password">Forgot password?</a>
        </div>
    </div>

    <input type="hidden" name="_csrf" value="${_csrf.token}"><br>
    <button type="submit" class="btn btn-primary btn-block mb-4" th:text="#{login}">Sign in</button>

    <div class="text-center">
        <p>Not a member? <a href="/registration" th:text="#{signUp}">Sign up</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
            <a th:href="@{/oauth2/authorization/google}" class="mr-2"><i class="fab fa-google fa-2xl"></i></a>
            <a th:href="@{/oauth2/authorization/github}"><i class="fa-brands fa-github fa-2xl"></i></a>
        </button>
    </div>
</form>
</body>
</html>