<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
<h4>Авторизация</h4>

<form th:action="@{/login}" method="post">
  Почта <input type="email" name="username"><br><br>
  Пароль<input type="password" name="password"><br><br>

  <input type="hidden" name="_csrf" value="${_csrf.token}"><br>
  <input type="submit" value="Вход">
</form>

<a href="/registration">Зарегаться</a>



</body>
</html>