<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sweety Bear</title>
    <th:block th:replace="/base/base_dependencies :: base_dependencies"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="mt-3 ml-5 d-flex" style="font-size:18px">
    Orders
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" th:href="@{/orders/new}">NEW</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/orders/approved}">APPROVED</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/orders/canceled}">CANCELED</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/orders/closed}">CLOSED</a></li>
    </ul>
</nav>
<table class="table table-hover mt-4 mb-5 ml-5" style="width: 95%;">
    <tr>
        <th scope="col" class="ml-3">Id</th>
        <th scope="col">Address</th>
        <th scope="col">User</th>
        <th scope="col">Date</th>
        <th scope="col">Sum</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
    </tr>
    <div th:each="order : ${orders}">
        <tr>
            <th scope="row" class="ml-3" th:utext="${order.id}">Id</th>
            <th scope="row" th:unless="${order.isOrderDeliveryPickup()}" th:utext="${order.address.street}">Address</th>
            <th scope="row" th:if="${order.isOrderDeliveryPickup()}">PICKUP</th>
            <th th:if="${order.user}" scope="row">
                <a th:href="@{/user/{id}(id=${order.user.id})}">
                    <p th:utext="${order.user.name}">User</p>
                </a>
            </th>
            <th th:unless="${order.user}" scope="row">
                <p style="color: #6e0001">DELETED</p>
            </th>
            <th scope="row" th:utext="${order.dateOfCreated}">Date</th>
            <th scope="row" th:utext="${order.sum}">Sum</th>
            <th scope="row" th:utext="${order.status}">Status</th>
            <th scope="row">
                <a th:href="@{/orders/{id}(id=${order.id})}">Details</a>
            </th>
        </tr>
    </div>
</table>
</body>
</html>