<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sweety Bear</title>
    <th:block th:replace="/base/base_dependencies :: base_dependencies"/>
    <script>
        function deleteConfig(message) {
            return confirm("Are you sure you want to " + message + " this order?");
        }
    </script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="mt-3 ml-5" style="font-size:18px">
    Order information
</div>
<div class="card mt-3 ml-5 mb-2" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title" th:utext="${order.id}">Order id</h5>
        <h6 class="card-subtitle mb-2 text-muted" th:utext="${order.status}">Status</h6>
        <p class="card-text"></p>
        <div class="card-text" style="display: inline-block">User:
            <a th:if="${order.user}" th:href="@{/user/{id}(id=${order.user.id})}">
                <div th:utext="${order.user.name}" style="display: inline-block">User name</div>
            </a>
            <p style="color: #6e0001" th:unless="${order.user}">DELETED</p>
        </div>
        <div class="card-text" style="display: inline-block; font-weight:bold">Sum:
            <div th:utext="${order.sum}" style="display: inline-block">Sum</div>
        </div>
        <div class="card-text" style="display: inline-block">Address:
            <div th:utext="${order.address}" th:unless="${order.isOrderDeliveryPickup()}"
                 style="display: inline-block; font-weight:bold">Address
            </div>
            <p class="card-text" th:if="${order.isOrderDeliveryPickup()}"
               style="display: inline-block; font-weight:bold">PICKUP</p>
        </div>
        <div class="card-text" style="display: inline-block">Order date:
            <div th:utext="${order.dateOfCreated}" style="display: inline-block;">dateOfCreated</div>
        </div>
        <div class="card-text" style="display: inline-block">Delivery date:
            <div th:utext="${order.dateOfDelivery}" style="display: inline-block; font-weight:bold">
                dateOfDelivery
            </div>
        </div>
        <div class="mt-1">
            Products:
        </div>
        <div class="card-text mt-1" style="color: red" th:unless="${order.isTotalProductsPriceNotChanged()}">
            Products have been removed
        </div>
        <div class="card-text" th:each="details : ${order.details}">
            <a th:href="@{/product/{id}(id=${details.product.id})}">
                <div th:utext="${details.product.title}" style="font-style: italic">Title</div>
            </a>
            <div class="card-text" style="display: inline-block">Amount:
                <div th:utext="${details.amount}" style="display: inline-block">Amount</div>
            </div>
            <div class="card-text" style="display: inline-block">Price:
                <div th:utext="${details.price}" style="display: inline-block">Price</div>
            </div>
        </div>
    </div>
</div>
<div th:if="${user.isAdmin()}" th:unless="${order.isOrderCanceled()}" class="btn-group" role="group">
    <div>
        <form th:method="post" th:action="@{/admin/orders/edit/{id}(id=${order.id})}">
            <input type="hidden" name="_csrf" value="${_csrf.token}">
            <input type="hidden" th:value="APPROVED" name="status">
            <button onclick="return deleteConfig('APPROVED')" type="submit" class="btn btn-outline-success ml-5 mt-1">
                APPROVED
            </button>
        </form>
    </div>
    <div>
        <form th:method="post" th:action="@{/admin/orders/edit/{id}(id=${order.id})}">
            <input type="hidden" name="_csrf" value="${_csrf.token}">
            <input type="hidden" th:value="CANCELED" name="status">
            <button onclick="return deleteConfig('CANCELED')" type="submit" class="btn btn-outline-danger ml-5 mt-1">
                CANCELED
            </button>
        </form>
    </div>
</div>
</body>
</html>