<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  lang="en"><head>
    <meta charset="UTF-8">
    <title>Sweety Bear</title>
</head>
<body>

<h1>Sweety Bear</h1>
<h4>Сладости</h4>

</hr>

<div th:if="${user.email}">
    <div th:text=" 'Hi,' + ${user.name}">Hi, User</div>
    <form th:action="@{/logout}" method="post">
        <input type="hidden" name="_csrf" value="${_csrf.token}"><br>
        <input type="submit" value="Выйти">
    </form>
    <a th:href="@{/user/edit/{id}(id=${user.id})}">Редактирование аккаунта</a>
    <div th:if="${user.isAdmin()}">
        <a href="/admin">Панель админа</a>

    </div>
</div>
<!-- ELSE -->
<div th:unless="${user.email}">
    <a href="/login">Войти</a>
</div>


<form action="/" method="get">
    Поиск <input type="text" name="title"><br>
    <input type="submit" value="Поиск">
</form>
</hr>

<tr th:each="product : ${products}">
    <!--/*@thymesVar id="product" type="product"*/-->
    <td th:utext="${product.title}">Full Name</td>
    <td th:utext="${product.description}">Email</td>
    <td ><a th:href="@{/product/{id}(id=${product.id})}">Подробнее</a></td>
</tr>
</hr>

<div th:if="${user.email}">
    New Product
    <form th:action="@{/product/create}" th:method="post" th:object="${product}" enctype="multipart/form-data">
        Название товара <input type="text" th:field="*{title}" />
        <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> Name Error</div><br><br>
        <br>
        Описание товара <input type="text" th:field="*{description}" />
        <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> Name Error</div><br><br>
        <br>
        Цена товара <input type="number" th:field="*{price}"/>
        <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> Name Error</div><br><br>
        <br>
        Вес товара <input type="number" th:field="*{weight}" />
        <div style="color:red" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"> Name Error</div><br><br>
        <br>
        Наличие товара <input type="text" th:field="*{availability}" />
        <div style="color:red" th:if="${#fields.hasErrors('availability')}" th:errors="*{availability}"> Name Error</div><br><br>
        <br>
        Первое фото <input type="file" name="file1"/>
        Второе фото <input type="file" name="file2"/>

        <input type="submit" value="Добавить">
    </form>

</div>

</body>
</html>