<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ><head>
    <meta charset="UTF-8">
    <title th:utext="${product.title}">title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<tr th:each="image : ${images}">
    <!--/*@thymesVar id="image" type="image"*/-->
    <img th:src="@{/images/{id}(id=${image.id})}" height="60px"/><br><br>
</tr>

<b> Название</b> <p th:utext="${product.title}"></p>
<b> Описание</b> <p th:utext="${product.description}"></p>
<b> Цeна</b> <p th:utext="${product.price}"></p>
<b> вес</b> <p th:utext="${product.weight}"></p>
<b> Наличие</b> <p th:utext="${product.availability}"></p>

<div th:if="${user.isAdmin()}">
    Delete Product
    <!--/*@thymesVar id="product" type="product"*/-->
    <form th:action="@{/product/delete/{id}(id=${product.id})}" method="post">
        <input type="submit" value="delete">
    </form>

    Edit product
    <a th:href="@{/product/edit/{id}(id=${product.id})}">EDIT</a>
</div>

</body>
</html>