<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="ml-5 mr-5 mt-4">
    <div style="font-size:18px">
        Edit product
    </div>
    <form th:method="post" th:action="@{/product/edit/{id}(id=${product.getId()})}" th:object="${product}"
          enctype="multipart/form-data" class="row g-3">

        <div class="input-group mb-3 mt-4 col-md-6">
            <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
            <input type="text" th:field="*{title}" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
            <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>

        <div class="input-group mb-3 mt-4 col-sm-3">
            <span class="input-group-text">BYN</span>
            <input type="number" step="0.01" th:field="*{price}" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">.00</span>
            <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>

        <div class="input-group mb-3 mt-4 col-md-3">
            <span class="input-group-text">Weight</span>
            <input type="number" th:field="*{weight}" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">.00</span>
            <div style="color:red" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></div>
        </div>

        <div class="input-group mb-3 col-md-12">
            <span class="input-group-text">Description</span>
            <textarea th:field="*{description}" class="form-control" aria-label="With textarea"></textarea>
            <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>

        <div class="input-group mb-3 col-md-3">
            <label for="formFile1" class="form-label">First image </label>
            <input class="form-control" type="file" name="file1" id="formFile1">
        </div>

        <div class="input-group mb-3 col-md-3">
            <label for="formFile2" class="form-label">Second image </label>
            <input class="form-control" type="file" name="file2" id="formFile2">
        </div>
        <div class="input-group mb-3 col-md-6">
            <input class="form-control mb-3 col-md-3" th:field="*{availability}" list="datalistOptions"
                   id="exampleDataList"
                   placeholder="Availability">
            <datalist id="datalistOptions">
                <option value="true">
                <option value="false">
            </datalist>
            <div style="color:red" th:if="${#fields.hasErrors('availability')}" th:errors="*{availability}"></div>
        </div>

        <div>
            <input type="hidden" name="_csrf" value="${_csrf.token}"><br>
            <button type="submit" class="btn btn-primary ml-3 mt-0 mb-2">Update</button>
        </div>
    </form>
</div>


</body>
</html>