<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<form th:method="post" th:action="@{/product/edit/{id}(id=${product.getId()})}" th:object="${product}">
    <div>
        <label for="title">Enter title: </label>
        <input type="text" th:field="*{title}" id="title"/>
        <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> Name Error</div><br><br>
        <br/>
        <label for="description">Enter description: </label>
        <input type="text" th:field="*{description}" id="description"/>
        <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> Name Error</div><br><br>
        <br/>
        <label for="price">Enter description: </label>
        <input type="number" th:field="*{price}" id="price"/>
        <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> Name Error</div><br><br>
        <br/>
        <label for="weight">Enter weight: </label>
        <input type="number" th:field="*{weight}" id="weight"/>
        <div style="color:red" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"> Name Error</div><br><br>
        <br/>
        <label for="availability">Enter availability: </label>
        <input type="text" th:field="*{availability}" id="availability" list="availabilities"/>
        <div style="color:red" th:if="${#fields.hasErrors('availability')}" th:errors="*{availability}"> Name Error</div><br><br>

        <datalist id="availabilities">
            <option value="true"></option>
            <option value="false"></option>
        </datalist>
        <br/>
    </div>
    <div>
        <input type="hidden" name="_csrf" value="${_csrf.token}">
        <input type="submit" value="Update" />
    </div>
</form>

</body>
</html>