<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${product.title}">title</title>
    <link rel="stylesheet" href="../static/css/preloader.css" th:href="@{/css/preloader.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script>
        window.onload = function () {
            let preloader = document.getElementById('preloader');
            preloader.style.display = 'none';
        }
    </script>
</head>
<body>

<div class="parent">
    <div class="loader" id="preloader"></div>
</div>

<header th:insert="blocks/header :: header"></header>

<div class="card mb-3 mt-4 " style="display: block;
                        margin-left: auto; margin-right: auto; width: 60%">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="...." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="card-body">
        <h5 class="card-title" th:utext="${product.title}">Card title</h5>
        <p class="card-text" th:utext="${product.description}">Description</p>
        <div class="card-text" style="display: inline-block">Price:
            <div th:utext="${product.price}" style="display: inline-block; font-weight:bold">
                Price
            </div>
        </div>
        <div class="card-text" style="display: inline-block">Weight:
            <div th:utext="${product.weight}" style="display: inline-block;">
                Weight
            </div>
        </div>
        <div class="card-text" style="display: inline-block">Availability:
            <div th:utext="${product.availability}" style="display: inline-block;">
                Availability
            </div>
        </div>
        <p class="card-text"><small class="text-muted" th:utext="${product.dateOfCreated}">dateOfCreated</small></p>
    </div>
</div>

<tr th:each="image : ${images}">
    <!--/*@thymesVar id="image" type="image"*/-->
    <img th:src="@{/images/{id}(id=${image.id})}" height="60px"/><br><br>
</tr>

<div th:if="${user.isAdmin()}">
    Delete Product
    <!--/*@thymesVar id="product" type="product"*/-->
    <form th:action="@{/product/delete/{id}(id=${product.id})}" method="post">
        <input type="submit" value="delete">
    </form>

    Edit product
    <a th:href="@{/product/edit/{id}(id=${product.id})}">EDIT</a>
</div>

</body>
</html>