<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <th:block th:replace="/base/base_dependencies :: base_dependencies"/>
    <style>
        input:invalid {
            animation: shake .3s;
        }

        @keyframes shake {
            25% {
                transform: translateX(4px)
            }
            50% {
                transform: translateX(-4px)
            }
            75% {
                transform: translateX(4px)
            }
        }
    </style>
</head>
<body>

<form th:method="post" th:action="@{/registration}" th:object="${user}" style="width: 60%; display: block; margin-left: auto; margin-right: auto; margin-top: 5%">
    <div class="mt-4 text-center" style="font-size:26px" th:text="#{signUp.title}" >
        Registration
    </div>
    <div class="mt-2" th:if="${passwordError}">
        <h6 style="color:red" th:utext="${passwordError}">password error</h6>
    </div>
    <div class="mt-2" th:if="${errorMessage}">
        <h6 style="color:red" th:utext="${errorMessage}">message error</h6>
    </div>
    <div class="mb-3 mt-4">
        <label for="name" class="form-label" th:text="#{signUp.name}">Enter name:</label>
        <input autofocus type="text" pattern="[a-zA-Z]*" th:field="*{name}" class="form-control" id="name"/>
        <div class="alert alert-danger mt-1" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div class="mb-3 mt-2">
        <label for="exampleInputEmail1" class="form-label" th:text="#{signUp.email}">Enter email:</label>
        <input type="email" th:field="*{email}"  aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1"/>
        <div class="alert alert-danger mt-1" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div class="mb-3 mt-2">
        <label for="password1" class="form-label" th:text="#{signUp.password}">Enter password:</label>
        <input type="password" th:field="*{password}" class="form-control" id="password1"/>
        <div class="alert alert-danger mt-1" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div class="mb-3 mt-2">
        <label for="confirmPassword" class="form-label" th:text="#{signUp.confirmPassword}">Confirm password:</label>
        <input type="password" th:field="*{confirmPassword}" class="form-control" id="confirmPassword"/>
        <div class="alert alert-danger mt-1" th:if="${#fields.hasErrors('confirmPassword')}"
             th:errors="*{confirmPassword}"></div>
    </div>

    <input type="hidden" name="_csrf" value="${_csrf.token}"><br>
    <button type="submit" class="btn btn-primary btn-block mb-4" th:text="#{signUp}">Sign up</button>

    <div class="text-center mb-4">
        <p>Already have an account? <a href="/login" th:text="#{login}">Login</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
            <a th:href="@{/oauth2/authorization/google}"><i class="mr-2 fab fa-google fa-2xl"></i></a>
            <a th:href="@{/oauth2/authorization/github}"><i class="fa-brands fa-github fa-2xl"></i></a>
        </button>
    </div>
</form>
</body>
</html>