<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<h3>Редактирование пользователя</h3>

<form th:method="post" th:action="@{/admin/user/edit}" >
    <div th:each="role : ${user.roles}">
        <div th:utext="${user.email}">email</div>
        <div th:utext="${role}">,</div>
    </div>
    <div>
        <input type="hidden" name="_csrf" value="${_csrf.token}">
        <input type="hidden" th:value="${user.id}" name="userId">
        <input type="submit" value="Change role" />
    </div>
</form>

</body>
</html>