<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sweety Bear</title>
    <th:block th:replace="/base/base_dependencies :: base_dependencies"/>
    <script>
        let cords = ['scrollX','scrollY'];
        window.addEventListener('unload', e => cords.forEach(cord => localStorage[cord] = window[cord]));
        window.addEventListener('load', e => {
            if (localStorage[cords[0]]) {
                window.scroll(...cords.map(cord => localStorage[cord]));
                cords.forEach(cord => localStorage.removeItem(cord));
            }
        });
    </script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="mt-3 ml-5" style="font-size:18px">
    Your orders
</div>
<div class="mt-3 ml-5" th:if="${#arrays.isEmpty(orders)}">
    You have never ordered on our website. Make purchases in our <a href="/">catalog</a>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 ml-4 mr-4 mb-4">
    <div class="col" th:each="order : ${orders}">
        <div class="card h-10 mt-4">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="mr-3" th:utext="${order.sum}"></span>
                    <span style="color: #a10000" th:unless="${order.isOrderPaid()}">NOT PAID</span>
                </h5>
                <p class="card-text" th:unless="${order.isOrderDeliveryPickup()}">
                        <span style="font-weight:bold" th:if="${order.address.street}"
                              th:utext="${order.address.street}"></span>
                    <span style="font-weight:bold" th:if="${order.address.houseNumber}">
                            <span th:utext="${order.address.houseNumber}"></span> /
                        </span>
                    <span style="font-weight:bold" th:if="${order.address.caseNumber}">
                            <span th:utext="${order.address.caseNumber}"></span>,
                        </span>
                    <span th:if="${order.address.apartmentNumber}"
                          th:utext="${order.address.apartmentNumber}"></span>
                </p>
                <p class="card-text" th:if="${order.isOrderDeliveryPickup()}">PICKUP</p>
                <div class="card-text" style="display: inline-block">Status:
                    <div th:utext="${order.status}" style="display: inline-block; font-weight:bold">Status</div>
                </div>
                <br>
                <div class="card-text" style="display: inline-block">Order date:
                    <div th:utext="${order.dateOfCreated}" style="display: inline-block;">dateOfCreated</div>
                </div>
                <div class="card-text" style="display: inline-block">Delivery date:
                    <div th:utext="${order.dateOfDelivery}" style="display: inline-block; font-weight:bold">
                        dateOfDelivery
                    </div>
                </div>
                <div class="card-text mt-1" style="color: red"
                     th:if="${order.getNumberOfDaysOfTheOrderPaymentDay()} <= 1"
                     th:unless="${order.isOrderCanceled()}">
                    <div th:unless="${order.isOrderPaid()}">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        There is one day left before payment of the order otherwise it will be canceled!
                    </div>
                </div>
                <div class="mt-1">
                    Products:
                </div>
                <div class="card-text mt-1" style="color: red"
                     th:unless="${order.isTotalProductsPriceNotChanged()}">Products have been removed
                </div>
                <div th:each="details : ${order.details}">
                    <a th:href="@{/product/{id}(id=${details.product.id})}">
                        <div th:utext="${details.product.title}" style="font-style: italic">Title</div>
                    </a>
                    <div class="card-text" style="display: inline-block">Amount:
                        <div th:utext="${details.amount}" style="display: inline-block">Amount</div>
                    </div>
                    <div class="card-text" style="display: inline-block">Price:
                        <div th:utext="${details.price}" style="display: inline-block">Price</div>
                    </div>

                </div>
            </div>
            <div th:if="${order.isOrderPaid()}">
                <div class="btn-group ml-3" role="group" th:unless="${order.isOrderCanceled()}"
                     th:if="${order.isOrderApproved()}">
                    <form th:method="post"
                          th:action="@{/orders/edit/{id}(id=${order.id})}">
                        <input type="hidden" name="_csrf" value="${_csrf.token}">
                        <input type="hidden" th:value="CLOSED" name="status">
                        <button type="submit" class="btn btn-outline-secondary mb-3">Confirm delivery</button>
                    </form>
                </div>
                <div th:if="${order.isOrderCanceled()}" class="btn-group ml-3" role="group">
                    <form th:action="@{/order/pdf/export/{id}(id=${order.id})}" method="GET">
                        <input type="hidden" name="_csrf" value="${_csrf.token}">
                        <button type="submit" class="btn btn-outline-secondary mb-3">Cheque <i class="fa-solid fa-download"></i> </button>
                    </form>
                </div>
            </div>
            <div th:unless="${order.isOrderPaid()}">
                <div th:unless="${order.isOrderCanceled()}" class="btn-group ml-3" role="group" >
                    <form th:action="@{/payment/orders/{id}(id=${order.id})}">
                        <button type="submit" class="btn btn-outline-secondary mb-3">Pay for the order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>