<div th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container-fluid ">
          <a class="navbar-brand" href="/" style="font-size:30px">
            <!--                        <img src="../static/images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">-->
            Sweety Bear
          </a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Catalog</a>
            </li>
            <li class="nav-item" th:if="${user.email}">
              <a class="nav-link active" th:href="@{/user/edit/{id}(id=${user.id})}">Edit account</a>
            </li>
            <li class="nav-item" th:if="${user.isAdmin()}">
              <a class="nav-link active" href="/admin">Admin menu</a>
            </li>
            <li class="nav-item" th:if="${user.email}">
              <form class="d-flex" role="search" th:action="@{/logout}" method="post">
                <input class="form-control me-2" type="hidden" name="_csrf" value="${_csrf.token}"><br>
                <button class="btn btn-primary" type="submit">Log Out</button>
              </form>
            </li>

            <li class="nav-item nav-pills" th:unless="${user.email}">
              <a class="nav-link active" aria-current="page" href="/login">Login</a>
            </li>
          </ul>
          <form class="d-flex" role="search" action="/" method="get">
            <input class="form-control me-2" name="title" type="search" placeholder="Search"
                   aria-label="Search">
            <button class="btn btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</div>