<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-light">
        <a class="navbar-brand ml-3" href="/" style="font-size:30px">Sweety Bear</a>
        <button class="navbar-toggler justify-content-center" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation"
                style="border-color: black !important; color: black !important">

            <span class="navbar-toggler-icon mt-1 "><i class="fa-solid fa-lg fa-bars"></i></span>
        </button>
        <div class="navbar-collapse collapse ml-3" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" th:text="#{menu.catalog}">Catalog</a>
                </li>
                <li class="nav-item" th:if="${user.email}">
                    <a class="nav-link active" th:href="@{/orders/user/{id}(id=${user.id})}" th:text="#{menu.myOrders}">My
                        orders</a>
                </li>
                <li class="nav-item" th:if="${user.email}">
                    <a th:if="${user.bucket != null}" class="nav-link active position-relative mr-2 "
                       th:href="@{/bucket}">
                        <span ><i class="fa-solid fa-cart-shopping fa-lg"></i></span>
                        <span th:if="${user.bucket.getNumberOfProductsInBucket() != 0}"
                              style="background-color: #a22c2c !important"
                              th:utext="${user.bucket.getNumberOfProductsInBucket()}"
                              class="position-absolute top-2 start-100 translate-middle badge rounded-pill bg-danger">
                                         99+
                                            <span class="visually-hidden mr-2 ">products</span>
                            </span>
                    </a>
                </li>
                <li class="nav-item" th:if="${user.email}">
                    <a class="nav-link active" th:href="@{/user/edit/{id}(id=${user.id})}">
                        <i class="fa-solid fa-user fa-lg mr-1"></i>
                    </a>
                </li>
                <li class="nav-item" th:if="${user.isAdmin()}">
                    <a class="nav-link active" th:href="@{/admin}" th:text="#{menu.adminMenu}">Admin menu</a>
                </li>
                <li class="nav-item" th:if="${user.isAdmin()}">
                    <a class="nav-link active" th:href="@{/orders(status=NEW)}" th:text="#{menu.orders}">Orders</a>
                </li>
                <li class="nav-item" th:if="${user.email}">
                    <form class="d-flex" role="search" th:action="@{/logout}" method="post">
                        <input class="form-control me-2" type="hidden" name="_csrf" value="${_csrf.token}"><br>
                        <button class="btn btn-primary" type="submit"><span th:text="#{menu.logout}"></span></button>
                    </form>
                </li>
                <li class="nav-item nav-pills" th:unless="${user.email}">
                    <a class="nav-link active" aria-current="page" href="/login"><span
                            th:text="#{menu.login}"></span></a>
                </li>
            </ul>
            <form class="d-flex" role="search" action="/" method="get">
                <input class="form-control me-2" name="title" type="search" th:placeholder="#{menu.searchExample}"
                       aria-label="Search">
                <button class="btn btn btn-outline-primary ml-1" type="submit"><span th:text="#{menu.search}"></span>
                </button>
            </form>
            <div class="nav-item ml-2">
                <a th:href="@{'?locale=ru'}">RU</a>
                <a th:href="@{'?locale=en'}">EN</a>
            </div>
        </div>
    </nav>
</div>